In [1]:
import pymannkendall as mk
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet("outputs/d2-events-2d5-230929.parquet")

In [3]:
df.head()

,GEOID,wfday,heatday,smoke_pm_non_zero,smoke_pm_gt_five,hw,_hws,hs,hws,ws,...,wfday_2d,_hws_2d,hs_2d,hws_2d,ws_2d,hw_2d,smoke_pm_gt_five_2d,hs_2d_5,ws_2d_5,hws_2d_5
time,,,,,,,,,,,,,,,,,,,,,
2006-01-01,04001942600,False,False,False,False,False,False,False,False,False,...,0,False,0,0,0,0,0,0,0,0
2006-01-01,04001942700,False,False,False,False,False,False,False,False,False,...,0,False,0,0,0,0,0,0,0,0
2006-01-01,04001944000,False,False,False,False,False,False,False,False,False,...,0,False,0,0,0,0,0,0,0,0
2006-01-01,04001944100,False,False,False,False,False,False,False,False,False,...,0,False,0,0,0,0,0,0,0,0
2006-01-01,04001944201,False,False,False,False,False,False,False,False,False,...,0,False,0,0,0,0,0,0,0,0

In [4]:
df = df.reset_index()

In [5]:
df['year'] = df['time'].dt.year

In [7]:
trends_df = df.groupby(['year'])[[
    "ws",
    "hw",
    "hs",
    "hws",
    "_hws",
    "wfday",
    "hs5",
    "hws5",
    "ws5",
    "heatday",
    "smoke_pm_non_zero",
    "smoke_pm_gt_five",
]].sum()

In [8]:
trends_df.head()

,ws,hw,hs,hws,_hws,wfday,hs5,hws5,ws5,heatday,smoke_pm_non_zero,smoke_pm_gt_five
year,,,,,,,,,,,,
2006,3063,230,12113,121,439100,8910,2542,29,1081,114346,331129,88733
2007,3271,288,20717,207,426738,9343,8313,134,1434,90041,351423,118034
2008,2962,151,28276,105,609846,8712,13247,66,1289,84559,547859,214184
2009,1885,92,20078,59,383271,7083,8079,27,373,83340,314844,85975
2010,1598,92,9395,46,278274,5846,416,2,224,113277,170190,21122

In [9]:
for col in trends_df.columns:
    print(col)
    result = mk.original_test(trends_df[col])
    print(result)
    print("")

ws
Mann_Kendall_Test(trend='no trend', h=False, p=0.37305311625145254, z=0.8907689867497083, Tau=0.18095238095238095, s=19.0, var_s=408.3333333333333, slope=72.42857142857143, intercept=2220.0)

hw
Mann_Kendall_Test(trend='no trend', h=False, p=0.585735213583062, z=0.545026613863917, Tau=0.11428571428571428, s=12.0, var_s=407.3333333333333, slope=5.2, intercept=134.6)

hs
Mann_Kendall_Test(trend='increasing', h=True, p=0.02944810421427424, z=2.1774353009437313, Tau=0.42857142857142855, s=45.0, var_s=408.3333333333333, slope=4297.5, intercept=-1806.5)

hws
Mann_Kendall_Test(trend='no trend', h=False, p=0.45734964084351426, z=0.7432181098144324, Tau=0.1523809523809524, s=16.0, var_s=407.3333333333333, slope=6.0, intercept=79.0)

_hws
Mann_Kendall_Test(trend='increasing', h=True, p=0.017530703373053846, z=2.3753839646658887, Tau=0.4666666666666667, s=49.0, var_s=408.3333333333333, slope=34352.166666666664, intercept=313382.8333333334)

wfday
Mann_Kendall_Test(trend='no trend', h=False, p=1.0, z=0.0, Tau=0.009523809523809525, s=1.0, var_s=408.3333333333333, slope=2.857142857142857, intercept=7324.0)

hs5
Mann_Kendall_Test(trend='no trend', h=False, p=0.13764584551826475, z=1.4846149779161806, Tau=0.29523809523809524, s=31.0, var_s=408.3333333333333, slope=1237.0, intercept=-346.0)

hws5
Mann_Kendall_Test(trend='no trend', h=False, p=0.37305311625145254, z=0.8907689867497083, Tau=0.18095238095238095, s=19.0, var_s=408.3333333333333, slope=4.4, intercept=35.199999999999996)

ws5
Mann_Kendall_Test(trend='no trend', h=False, p=0.37305311625145254, z=0.8907689867497083, Tau=0.18095238095238095, s=19.0, var_s=408.3333333333333, slope=96.45454545454545, intercept=405.81818181818187)

heatday
Mann_Kendall_Test(trend='increasing', h=True, p=0.017530703373053846, z=2.3753839646658887, Tau=0.4666666666666667, s=49.0, var_s=408.3333333333333, slope=7365.222222222223, intercept=65060.44444444444)

smoke_pm_non_zero
Mann_Kendall_Test(trend='increasing', h=True, p=0.02944810421427424, z=2.1774353009437313, Tau=0.42857142857142855, s=45.0, var_s=408.3333333333333, slope=32652.5, intercept=215514.5)

smoke_pm_gt_five
Mann_Kendall_Test(trend='no trend', h=False, p=0.4884223166225936, z=0.6928203230275509, Tau=0.14285714285714285, s=15.0, var_s=408.3333333333333, slope=6872.333333333333, intercept=58576.66666666667)